@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: white;
}

h2{
  font-family: "Lobster",cursive;
}
nav {
  display: flex;
  /* height: 100px; */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
  overflow: hidden;
}

.backArrow {
  border: none;
}

svg {
  color: #505052;
}

 .text {
  color: white;
  /* mix-blend-mode: lighten; */
  background-color: rgba(62, 44, 44, 0.71);
  border-radius: 25px;
  width: 80%;
  padding: 1% 0;
  margin: 0 auto;
} 

.header {
  display: flex;
}

.recipeContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5%;
}

.recipeBlock {
  width: 30%;
  margin: 0 autos;
  padding: 2% 1%;
}

nav a {
  text-decoration: none;
  font-size: 5vw;
}

nav a:link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(1em / 2) 1em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5vw;
}

nav a:active {
  color: rgb(34, 32, 32);
}

nav a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1em;
  right: 1em;
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

nav a:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

form {
  background-color: rgba(255,255,255,0.9);
  margin: 5% 2%;
  display: flex;
  flex-flow: column;
  width: 80vw;
  padding: 3% 0;
}

input {
  height: 25px;
  width: 40%;
  margin: 2% auto;
}

.registerSubmit {
  width: 20%;
  margin: 4% auto 1%;
  background-color: rgb(119, 194, 194);
  font-size: 1rem;
  border-color: pink;
  font-family: "Lobster", cursive;
}

.registerSubmit:hover {
  background-color: pink;
  border-color: rgb(119, 194, 194);
}

/* Kayans's work */

.text {
  font-size: 12vw;
  opacity: 0.98;
  font-family: "Lobster",cursive;
}
.Chefs-Recipes {
  font-size: 50px;
  opacity: 0.5;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.site-logo {
  font-weight: 900;
  font-size: 0.8rem;
  color: #f4f4f4;
  text-decoration: none;
}
.navTop {
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
}

.navTop a{
  color: white;
  font-weight: 800;
}

.navWhite{
  color: #333;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
}

.navWhite a {
  color: black;
}
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.btn {
  border: 1.5px solid currentColor;
  border-radius: 2em;
  margin-left: 1em;
  transition: 250ms ease-in-out;
  letter-spacing: 1px;
  padding: 0.75em 1.5em;
}
.btn:hover {
  background: #f4f4f4;
  color: #333;
  border-color: var(--text);
}
.btn::after {
  display: none;
}
.nav__link--btn--highlight {
  background: limegreen;
  border-color: limegreen;
  color: #333;
}
.nav__link--btn--highlight:hover {
  background: #f4f4f4;
  border-color: #f4f4f4;
}
.nav-scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.header {
  /* padding: 10vh 0; */
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.home-about {
  padding: 4em 0;
  max-width: 900px;
  margin: 0 auto;
}
.columns {
  display: flex;
}
.col + .col {
  margin-left: 1.5em;
}
.more-stuff-grid {
  background: #f4f4f4;
  padding: 4em 0;
  display: grid;
  grid-gap: 2em;
  align-items: center;
  grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(
      1em,
      1fr
    );
}
.from-left {
  grid-column: 2 / 3;
}
.from-right {
  grid-column: 3 / 4;
}

/* Registration page */

.wrap{
  background-image: url("https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 17% 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
