.App {
  font-family: sans-serif;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

.backArrow {
  border: none;
}

svg {
  color: #505052;
}

.text {
  color: white;
  mix-blend-mode: darken;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  font-size: 7rem;
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 500px;
}

.recipeContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5%;
}

.recipeBlock {
  width: 30%;
  margin: 0 autos;
  padding: 2% 1%;
}
